:root
{
	--primary-color:black;
	--secondary-color:orange;
}
.menu{
	position:fixed;
	top:0;
	background-color:#fff;
	width:100%;
	z-index:3;
}
.navbar a
{
	 font-weight:700;
}

.navbar-nav a
{
	 font-weight:500;
}
.navbar-nav a:hover
{
	color:orange !important;
	 
}
.navbar-nav a.active
{
	color:orange !important;
	
} 
.f-btn
{
	color:white;
}
.f-btn:hover
{
	background-color:black;
	color:white;
}
/* banner section */
.bannersection
{
	background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url("image/hero-bg.jpg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	display:flex;
	align-items:center;
	height:100vh;
	width:100%;
}
.banner-cnt
{
	font-family:"raleway",sans-serif;
	 
	 
	 
}

.banner-cnt h1
{
font-size:50px;
font-weight:700;
line-height:60px;
color:white;	
}
.banner-cnt h3
{
	 color:white;
	 font-size:24px;
	 font-weight:500;
	 color:white;
}
.banner-cnt a 
{
	background-color:var(--secondary-color);
	border:solid 2px var(--secondary-color);
	transition:all .3s ease;
	padding:10px 30px;
}
.banner-cnt a:hover
{
	background-color:transparent;
	border:solid 2px #fff;
}
/* logo section */
.logo-sec
{
	background-color:;
	
}
.logos img
{
	max-width:100%;
	transition:all .3s ease;
	opacity:0.5;
	filter:grayscale(100%);
	

}
.logos img:hover
{
	filter:grayscale(0%);
	opacity:1;
}

.log-cir .carousel .carousel-indicators button{
	display:inline-block;
	width:12px;
	height:12px;
	transform:translateY(50px);
	border-radius:50%;
	background-color:#fff;
	border:solid 1px var(--secondary-color);
	cursor:pointer;
	margin:0 2px;
}
.log-cir .carousel .carousel-indicators button.active{
	background-color:var(--secondary-color);
}
/* about section */
.abt-sec
{
	 
	 position:relative;
}
.abt-sec:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	width:100%;
	height:100%;
	background-color:var(--primary-color);
	 transform:skewY(-3deg);
}
.abt-cnt1 
{ 
    
	 margin:80px 0;
	 
	
}
.abt-cnt1  h2
{
	font-size:34px;
	font-weight:600;
	line-height:45px;
}
.abt-cnt1 p
{
	 font-size:18px;
	 line-height:25px;
	 font-weight:400;
	
}
.abt-cnt1 a 
{
	border:solid 2px var(--secondary-color);
	transition:all .3s ease;
}
.abt-cnt1 a:hover
{
	background-color:var(--secondary-color);
	
}
.abt-cnt a>i 
{
	font-size:14px;
}


.abt-cnt2 i
{
	color:var(--secondary-color);
	font-size:30px;
	  
	
}
.abt-cnt2 h4
{
	font-size:20px;
	font-weight:600;
}
.abt-cnt2 p
{
	color:#848484;;
}
/* count section */
.count-sec
{
	background-color:;
	
}
.counts1
{ 
    position:relative;
	box-shadow:0px 2px 35px rgb(0 0 0 / 6%);
	
}
.counts1 h4
{
	font-size:36px;
	font-weight:600;
}
.counts1 p 
{
	font-size:16px;
	font-family: "Raleway", sans-serif;
}
.emoji  i 
{
	position: absolute;
    width: 54px;
    height: 54px;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
	line-height:50px;
    background: #fff;
    color:var(--secondary-color);
    border-radius: 50px;
    border: 2px solid #fff;
    box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
    
	
}
/* tab section */
.abt-tab
{
	border:none;
}
.abt-tab
{
	margin-bottom:15px;
}
.nav-tabs .nav-link{
	border-radius:0px;
}

.abt-tab .nav-item .nav-link
 {
	 border:solid 2px  #ccc;
	 margin:0 10px;
	 font-size:22px;
	display:flex;
	color:black;
	justify-content:flex-start;
	align-items:flex-start;
	padding:20px 15px;
	
}
.abt-tab .nav-item:first-child .nav-link
{
	margin-left:0;
}
.abt-tab .nav-item:last-child .nav-link
{
	margin-right:0;
}
.abt-tab .nav-item .nav-link span
 {
	  line-height:25px;
	  font-size:18px;
 }
 .abt-tab .nav-item .nav-link >i 
 {
	 margin-right:10px;
	 font-size:30px;
 }
 .abt-tab .nav-item .nav-link:hover
 {
	  color:var(--secondary-color);
	  border:ccc;
 }
 .abt-tab .nav-item .nav-link.active
 {
	 background-color:var(--secondary-color);
	 color:white;
	 border-color:orange;
 }
 .tab-in h2
 {
	  font-size:25px;
	  font-weight:500;
	  line-height:30px;
	  margin-bottom:10px;
 }
 .tab-in ul li 
 {
	 list-style:none;
	margin-bottom:15px;
	line-height:25px;
	font-size:18px;
 }
 
 .tab-in ul li  i
 {
	 color:var(--secondary-color);
	 font-size:20px;
	 margin-right:10px;
 }
 .tab-in p.tab-cntpara
 {
	 font-style:italic;
	 margin:15px 0;
 }
 .tab-in p.tab-paras
 {
	  font-size:18px;
	  font-weight:400;
	  line-height:26px;
 }



/* tab section */
.tab-sec
{
	background-color:;
	
}
/*.tab-item1,.tab-item2,.tab-item3,.tab-item4
{
	background-color:var(--secondary-color);
	height:100px;
}
.tab-content,.tab-img
{
	background-color:var(--secondary-color);
	height:400px;
}*/
/*service section */
.service-sec
{
	

position:relative;

	
}
.service-sec:after
{
	 content:"";
	 width:100%;
	 left:0;
	 top:0;
	 height:100%;
	 position:absolute;
	 z-index:-1;
	 transform:skewY(-3deg);
	 background-color:var(--primary-color);
}

.section-title 
{
	font-size:32px;
	
	margin-bottom:20px;
	color:white;
	padding-bottom:20px;
	font-weight:bold;
	text-align:center;
	position:relative;
	
}
.section-title:after
{
	content:"";
	position:absolute;
	bottom:12px;
     width:70px;
	 height:3px;
	 background-color:var(--secondary-color);
	 display:block;
	 text-align:Center;
	 left:50%;
	 transform: translateX(-50%);
	
}
.section-para
{
	 font-size:18px;
	 line-height:20px;
	 color:white;
	 text-align:center;
	 margin-bottom:20px;
	
}
.service-cnt1,.service-cnt2,.service-cnt3,.service-cnt4,.service-cnt5,.service-cnt6
{
	border:solid 2px black;
	color:white;
	background-color:#2b2b2b;

}

.service-cnt1 i 
{
	color:var(--secondary-color);
	font-size:30px;
	
}
.service-cnt1 a 
{
	text-decoration:none;
	color:white;
}
.service-cnt1 h4
{
    font-weight: 700;
    font-size:20px;
	
}
.scnt a:hover
{
	text-decoration:underline;
}
.service-cnt1 p
{
	font-size:14px;
	color:white;
	margin-left:70px;
	margin-bottom:40px;
	

}
/* portfoilo section */
.portfolio-sec{
	background-color:;
	
}
.port1 img
{
	width:100%;
	height:auto;
	transition:0.2s;
	

}
.port1 
{
	position:relative;
	overflow:hidden;
	transition:all .3s ease;
}
.port1 img
{
	transition:all .3s ease;
}
.port1:hover  img
{
	transform:scale(1.2);

     
}
.portcnt
{
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	right:0;
	opacity:0;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
	transition:all .3s ease;
	
}
.port1:hover .portcnt
{
	opacity:1;
	visibility:visible;
    background: rgba(17, 17, 17, 0.6);
	
}

.port1 a
{
	text-decoration:none;
	color: rgba(255, 255, 255, 0.7);
	font-size:20px;
	padding-left:10px;
}
.port1 h3
{
	font-size: 20px;
    color: #fff;
    font-weight:600;
}
.porthead h6
{
	font-size:14px;
	color: rgba(255, 255, 255, 0.7);
	font-style:italic;
}
.contents {
       display:flex;
	   justify-content:center;
	   padding-bottom:30px;
}
.contents .pricingbut{
	text-decoration:none;
	color:#000;
	padding:8px 15px;
	text-transform:uppercase;
	font-size:15px;
	border-radius:5px;
	margin-left:10px;
}
.contents .pricingbut:hover{
	background-color:var(--secondary-color);
	color:#fff;
}
.contents .pricingbut.active{
	background-color:var(--secondary-color);
	color:#fff;
}
/* testmonial section */
.testmonial-sec
{
	background-color:;
	
}
.test1,.test2,.test3
{
	height:400px;
	background-color:var(--primary-color);
    
}
/* price section */
.price-sec
{
	 
	 position:relative;

	
	
	 
}
.price-sec:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	width:100%;
	height:100%;
	background-color:var(--primary-color);
	 transform:skewY(-3deg);
}



.price1
{
	text-align:center;
	line-height:50px;
	border-radius:10px;
	position:relative;
	overflow:hidden;
	background:#2b2b2b;
   
}
.price1 h4 
{
	color:white;
	padding:30px;
	font-size:18px;
}

.price1  h3{
	font-size:42px;
	font-weight:400;
	color:white;
}

.price1 h3 span{
	color:white;
    font-size: 16px;
    font-weight: 500;
}
.price1 h3 sup{
	font-size:20px;
	vertical-align:5px;
	color:#fff;
	font-weight:600;
}
.price1 del{
	color:rgba(255, 255, 255, 0.5);
}
.price1 p{
	line-height:37px;
	color:#fff;
}
.buybutton button{
	padding:10px 40px;
	margin:20px 0;
	border-color:#ffffff45;
}

.buybutton button:hover{
    border:2px solid #fff;
}
.pactive
{
	background-color:var(--secondary-color);
}
/* faq section */
.faq-sec
{
	background-color:;
	
}
.faq-qs .accordion-button:not(.collapsed) {
    color:var(--secondary-color);
    background-color:#fff;
    box-shadow:none;
}
.faq-qs h2 button{
	transition:all .3s ease;
	font-size:20px;
	padding:20px 0;
}
.faq-qs .accordion-body{
	line-height:30px;
	padding:0 0 10px 0;
}
.faq-qs h2 button:hover
{
	color:var(--secondary-color);
}
	
.accordion-item
{
	 border-left:none;
	border-right:none;
	border-top:none;
	padding-top:8px;
}
.accordion-button:focus
{
	border-color:none;
	box-shadow:none;
}

/* testmonial section */
.testimonial{
	 padding: 30px;
    margin: 50px 15px;
    min-height: 200px;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
    position: relative;
    background: #fff;
    border-radius: 15px
}
.testimonial .fa{
	color:#e03a3c26;
}
.testimonial p{
	font-style: italic;
	
}
.testimonial h3{
	transform: translate(100px, -90px);
	font-size: 18px;
    font-weight: bold;
}
.testimonial h4{
    transform: translate(100px, -90px);
	font-size: 14px;
    color: #999;
    margin: 0;
}
.carousel-indicators [data-bs-target]{
	width:15px;
	height:15px;
	border-radius:50%;
	border:none;
	background-color:var(--secondary-color);
}
.team-sec
{
	 
	 position:relative;
	
	 
	 
}
.team-sec:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	width:100%;
	height:100%;
	background-color:var(--primary-color);
	transform:skewY(-3deg);
}
.card{
	position:relative;
}	
.card-body h4{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	font-weight:700;
	margin:8px 0;
}
. p{
	font-size:12px;
	color:#aaa;
}
.card .instag i{
    font-size:18px;
    color:white;
}
.card .instag {
    position: absolute;
    left: 0;
    bottom:100px;
    right: 0;
	padding-left:3px;
    transition:0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
	opacity:0;
	transform:translateY(-10px);
}
.card .instag a{
    background:var(--secondary-color);
    color: #fff;
	padding: 6px 10px;
	margin-right:1px;
	transition: 0.3s;
	margin-left:10px;
	border-radius:23px;
	cursor:pointer;
}
.card:hover .instag {
	opacity:1;
	
}
.card .instag a:hover
{
	background-color:black;
}
/* contact section */
.contact
{
	
	
}
.form-control:focus {
    border:solid 1px #000;
    outline: 0;
    box-shadow:none;
}
.contact1
{
	box-shadow:0 0  30px #ccc;
}
.contact1>i 
{
	 font-size:32px;
	 color:var(--secondary-color);
	 border:dotted 2px var(--secondary-color);
	 width:50px;
	 height:50px;
	 border-radius:50%;
	 text-align:Center;
	 line-height:45px;
	 margin-bottom:10px;
}
.contact4,.contact5
{
	background-color:var(--primary-color);
	height:200px;
}
.frm
{
	box-shadow:0 0 30px #ccc;
	 
}
/* footer section */
.footer-sec
{
	background-color:var(--primary-color);

}
.footer-cnt1,.footer-cnt2,.footer-cnt3,.footer-cnt4
{
	

}
.footer-cnt1 span
{
	color:red;

}
.footer-cnt1 h3
{
	font-size:26px !important;
	font-weight:600;
	
}
.footer-cnt2 h3
{
	font-size:16px;
	font-weight:600;
	
}
.footer-cnt1 p
{
	font-size:14px;
	line-height:30px;
	font-family:'raleway',sans-sherif;
}

.footer-cnt1 strong
{
	font-weight:800;
	color:white;
}
.footer-cnt2 
{
	line-height:40px;
	font-size:15px;
	position:relative;
	
}
.footer-cnt2 h3:after
{
	content:"";
	position:absolute;
	left:0;
	width:30px;
	height:30px;
	border-bottom:solid 2px var(--secondary-color);;
}
.footer-cnt2 a
{
	 text-decoration:none;
	 color:#737B82;
	 font-size:16px;
	
	 
}
.footer-cnt2 li
{
	font-size:12px;
}
	
.footer-cnt2 ul
{
	list-style:none;
}
.footer-cnt2 a:hover
{
	 color:white;
}
.footer-cnt4
{
	position:relative;
}
.footer-cnt4 h3
{
	font-size:16px;
	font-weight:600;
	font-family:"raleway",sans-sherif;
	
}
.footer-cnt4 p
{
	font-size:15px;
	line-height:1.5;
	font-weight:400;
	
}
.footer-cnt4 h3:after
{
	content:"";
	position:absolute;
	left:0;
	width:30px;
	height:30px;
	border-bottom:solid 2px var(--secondary-color);
}
.search
{
	border:0;
	overflow:hidden;
	position:relative;
}
.search input
{
	padding:8px 15px;
	width:100%;
	border:0;
	border-radius:5px;
}
.search button
{
	position:absolute;
	top:-2;
	right:0;
	padding:7px 33px;
	background-color:var(--secondary-color);
	color:white;
	font-size:16px;
	border-radius:5px;
	transition:0.3s;
	border-color:orange;

}
	
/* authoer section */
.author-sec
{
	background-color:black;
	padding:20px 0;
}
.author-sec p
{
	 color:var(--secondary-color);
	 font-size:16px;
	 font-weight:400;
	 
	 
}
.author-sec a 
{
	text-decoration:none;
	color:var(--secondary-color);
}
.icone a
{
	text-decoration:none;
	color:var(--secondary-color);
}
 .icones a{
	font-size: 19px;
    background:#2b2b2b;
    color: #fff;
	padding: 13px 15px;
	
	transition: 0.3s;
	
	border-radius:5px;
}

.icones i{
	color:#fff;
	
}
.icones a:hover{
	background-color:var(--secondary-color);	
}