@media(max-width:576px)
{
.menu .f-btn
{
font-size:12px;
}
.abt-tab .nav-item .nav-link
{
padding:10px;
}	
.abt-tab .nav-item .nav-link i 
{
font-size:25px;
}
	


}
@media (max-width:768px)
{
.bannersection h1
{
font-size:28px;
line-height:32px;
}
.bannersection p{
font-size:18px;
line-height:22px;
}
.abt-sec h2{
font-size:30px;
}
}
@media (max-width:992px)
{
	
.count-sec .counts1{
margin-top:22px
}
.abt-tab .nav-item .nav-link
{
padding:10px;
display:flex;
justify-content:Center;
}	
.abt-tab .nav-item .nav-link i 
{
font-size:35px;
text-align:center;
}
	
	
}